<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="https://res.cloudinary.com/dbr4il6bz/image/upload/v1712713474/htfj9ntuu0smarlsfhlj.png" alt="logo" width="264" height="78"></a>
            {# <p>
                Extra content if you need it, if not you can delete this whole p tag. I usually do.
            </p> #}
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/join">Join</a>
                    </li>
                    <li>
                        <a href="/calendar">Calendar</a>
                    </li>
                    <li>
                        <a href="/minutes">Minutes</a>
                    </li>
                    <li>
                        <a href="/donate">Donate</a>
                    </li>
                </ul>
                {# <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Service1</li>
                    <li>Service2</li>
                    <li>Service4</li>
                    <li>Service5</li>
                </ul> #}
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">255 North Main<br>Logan UT 84321</a>
                    </li>
                    <li>
                        <a href="tel:435-716-9123">T: (435) 716-9123</a>
                    </li>
                    <li>
                        <a href="mailto:friendsoftheloganlibrary@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Jordan Zappitello</a>
        <span class="copyright"> Copyright 2024 - Present</span>
    </div>
</footer>