<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Swap our for actual link-->
        <link rel="canonical" href="https://loganlibraryfriends.org/{{ page.url }}">

        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">

        <!--Social Media Display-->
        <meta property="og:title" content="{{ metaTitle }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://loganlibraryfriends.org/{{ page.url }}"/>
        <meta property="og:image" content="/images/social.jpg"/>
        <meta property="og:image:secure_url" content="/images/social.jpg"/>

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Preload -->
        <link rel="preload" as="image" href="https://res.cloudinary.com/dbr4il6bz/image/upload/v1712714710/islly8wpfi1yeygptsdv.png">
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/dark.css">

        <!-- Loading in page specific CSS sheets from css block -->
        <link rel="stylesheet" href="/css/critical.css"/>
        <link rel="stylesheet" href="{{ preloadCSS }}">

        <!--Put analytics tag here at the bottom to prevent it from render blocking-->

        <!-- For home page, use full title, including location for SEO. Other pages should just include the page name -->
        <title>
            {% if page.url == '/'%}
                {{ client.name }} | {{ tagTitle }} | {{ client.address.city }}, {{ client.address.county }}
            {% else %}
                {{ tagTitle }} | {{ client.name }}
            {% endif %}
        </title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

        {% include "header.html" %}
        <main id="main">{{ content | safe }}</main>
        {% include "footer.html" %}

        <script defer src="/assets/js/nav.js"></script>
        <script defer src="/assets/js/dark.js"></script>

        <!--
        This script adds a class to the body after scrolling 100px
        and we used these body.scroll styles to create some on scroll 
        animations with the navbar
    -->
        <script defer>
            document.addEventListener('scroll', (e) => {
                const scroll = document.documentElement.scrollTop;
                if (scroll >= 100) {
                    document
                        .querySelector('body')
                        .classList
                        .add('scroll')
                } else {
                    document
                        .querySelector('body')
                        .classList
                        .remove('scroll')
                }
            });
        </script>
        <script type="module">
            if (document.getElementById("cal-test")) {
                console.log("booyah")
            const eventContainer = document.querySelector("#cal-test");
            const eventAmtToFetch = document.querySelector("#eventAmt");

            const getRandomNumBetween = (min, max) =>
            Math.floor(Math.random() * (max - min + 1)) + min;
            const getMonth = (month) =>
            [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
            ][month];
            const getDayOfWeek = (weekday) =>
            [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
            ][weekday];
            const isAM = (hour) => hour < 12;
            const getHour = (hour) => (hour <= 12 ? hour : hour - 12);
            const getMinute = (minute) => (minute === 0 ? "00" : minute);

            function processDate(date) {
            const hour =
                getHour(date.getHours()) === 0 ? false : getHour(date.getHours());
            const minute = getMinute(date.getMinutes());
            const timeSuffix = `<small>${isAM(date.getHours()) ? `AM` : `PM`}</small>`;
            const time = hour && `${hour}:${minute}${timeSuffix}`;

            return {
                month: getMonth(date.getMonth()),
                weekday: getDayOfWeek(date.getDay()),
                time,
                date: date.getDate(),
            };
            }

            function mapEventObject(event) {
            const startDate = event.start.dateTime
                ? processDate(new Date(event.start.dateTime))
                : processDate(new Date(`${event.start.date}T00:00:00`));
            const endDate = event.end.dateTime
                ? processDate(new Date(event.end.dateTime))
                : processDate(new Date(`${event.end.date}T00:00:00`));
            let dateRange;
            if (startDate.date !== endDate.date) {
                dateRange = `${startDate.month} ${startDate.date}–${endDate.month} ${endDate.date}`;
            } else if (!startDate.time) {
                dateRange = `${startDate.month} ${startDate.date}`;
            } else {
                dateRange = `${startDate.weekday}, ${startDate.time}–${endDate.time}`;
            }

            return {
                name: event.summary,
                description: event.description,
                location: event.location,
                start: startDate,
                end: endDate,
                dateRange,
                link: event.htmlLink,
            };
            }

            function createEvent(e, i) {
            return `
                <article class="dark-mode event-card">
                <div class="date">
                    <p>${e.start.month}</p>
                    <div>${e.start.date}</div>
                </div>
                <div class="event-info">
                    <div>
                        <p>${e.dateRange}</p>
                        <h3 class="cs-title event-title">
                        <a class="cs-link" href="${e.link}" target="_blank">${e.name}</a>
                        </h3>
                        ${
                            e.description
                            ? `<div class="other-details">
                                <button class="details-dropdown" aria-expanded="false" aria-controls="details-${i}" id="btn-${i}">
                                    <p class="pointer-events-none">See details</p>
                                    {# <svg xmlns="http://www.w3.org/2000/svg" class="dropdown-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                                    </svg> #}
                                </button>
                                <div class="details-content hidden" id="details-${i}" aria-labelledby="btn-${i}">
                                    <p class="details-content-text">${e.description}</p>
                                </div>
                              </div>`
                            : '<div></div>'
                        }
                    </div>
                    <a href="${e.link}" target="_blank" class="view-event-btn">View Event</a>
                </div>
                </article>`;
            }

            async function loadEvents(max = 6) {
            try {
                const endpoint = await fetch(
                `/.netlify/functions/calFetch?maxResults=${max}`
                );
                const data = await endpoint.json();
                console.log(data);
                const processedEvents = data.map((e) => mapEventObject(e));
                eventContainer.innerHTML = processedEvents
                .map((event, i) => createEvent(event, i))
                .join("");
            } catch (e) {
                eventContainer.innerHTML = `<p class="cs-text">While there are currently no upcoming events, we invite you to attend our board meetings, which are open to the public. These meetings provide valuable insights into our activities and offer opportunities for community involvement.</p>`;
                console.log(e);
            }
            }

            // Event listener for page load
            document.addEventListener("DOMContentLoaded", () => {
            // Call the function to load events when the page is fully loaded
            loadEvents();
            });

            eventContainer.addEventListener("click", (e) => {
                if (e.target.closest('.details-dropdown')) {
                    const button = e.target.closest('.details-dropdown');
                    const detailsContent = button.nextElementSibling;
                    
                    // Toggle aria-expanded
                    const isExpanded = button.getAttribute("aria-expanded") === "true";
                    button.setAttribute("aria-expanded", !isExpanded);
                    
                    // Toggle the hidden class on the details content
                    detailsContent.classList.toggle("hidden");
                    
                    // Rotate the SVG icon
                    {# const svg = button.querySelector("svg");
                    svg.style.transform = isExpanded ? "rotate(0deg)" : "rotate(180deg)"; #}
                    
                    // Change button text
                    const labelElement = button.querySelector(".dropdown-label");
                    labelElement.textContent = isExpanded ? "See details" : "Hide details";
                }
            });

            {# eventAmtToFetch.addEventListener("change", (e) =>
            loadEvents(eventAmtToFetch.value)
            ); #}
            } else {
                console.log("Element with id 'cal-test' not found. Calendar events script not executed.");
            }

        </script>

    </body>
</html>